In [1]:
from data_analyst.data_cleaner import *
import os
import pandas as pd

DIR_RESOURCES = 'data_analyst\Resources\Data'
DIR_EXPORTS = 'data_analyst\Exports'
dir_sources = os.path.join(os.getcwd(),DIR_RESOURCES)
dir_exports = os.path.join(os.getcwd(),DIR_EXPORTS)
abs_file = os.path.join(dir_sources,'Absenteeism-data.csv')

In [2]:
#dc = DataCleaner(abs_file,delimiter=',',generate=True,export_path=dir_exports)

In [3]:
df_raw = pd.read_csv(abs_file,delimiter=',')
df = df_raw.copy()
#df = pd.DataFrame(dc.get_type_data(float),columns=dc._data[float][1],index=dc[float,0].data).copy()

In [4]:
df = df.drop(['ID'],axis=1)

In [5]:
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [6]:
# checking all possible absence reasons are found
set(range(0,28)) - set(sorted(df.iloc[:,0].unique()))
# apparently reason with ID 20 is not found in the dataset

{20}

In [7]:
col_reason =  pd.get_dummies(df['Reason for Absence'])

In [8]:
col_reason

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
699,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [9]:
col_reason['check'] = col_reason.sum(axis=1)
col_reason

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,1
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,1
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
696,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,1
697,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
698,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,1
699,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1

In [10]:
print(col_reason['check'].sum())    # ensure we get 700 rows
print(col_reason['check'].unique()) # ensure we only get ones

700
[1]

In [11]:
col_reason.drop('check',axis=1)

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
699,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [12]:
# 28 categories are too many to analyze
# instead we need to group them using some criteria
# in our case, we can split them by
# disease, pregnancy,x, y
reason_type_1 = col_reason.loc[:,1:14].max(axis=1)
reason_type_2 = col_reason.loc[:,15:17].max(axis=1)
reason_type_3 = col_reason.loc[:,18:21].max(axis=1)
reason_type_4 = col_reason.loc[:,22:28].max(axis=1)

In [13]:
df = pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4],axis=1)
df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,False,False,False,True
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,False,False,False,False
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,True,False,False,False
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8,True,False,False,False
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3,True,False,False,False
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8,True,False,False,False
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2,False,False,False,True
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2,False,False,False,True

In [14]:
print(df.columns.values)
column_names = ['Reason for Absence','Date', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Absence_disease', 'Absence_pregnancy', 'Absence_dentist', 'Absence_others']
df.columns = column_names
df = df.drop('Reason for Absence',axis=1)
df.head()

['Reason for Absence' 'Date' 'Transportation Expense' 'Distance to Work'
 'Age' 'Daily Work Load Average' 'Body Mass Index' 'Education' 'Children'
 'Pets' 'Absenteeism Time in Hours' 0 1 2 3]

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Absence_disease,Absence_pregnancy,Absence_dentist,Absence_others
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,False,False,False,True
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,False,False,False,False
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,True,False,False,False
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,False,False,False,True

In [15]:
column_names_reordered = [ 'Absence_disease', 'Absence_pregnancy', 'Absence_dentist', 'Absence_others','Date', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']
df = df[column_names_reordered]

In [16]:
checkpoint_df_reason_grouped = df.copy()

In [17]:
df['Date'] = pd.to_datetime(df['Date'],format='%d/%m/%Y')

In [18]:
df = pd.concat([df,df['Date'].dt.month, df['Date'].dt.weekday],axis = 1)

In [19]:
df.columns = ['Absence_disease', 'Absence_pregnancy', 'Absence_dentist',
       'Absence_others', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Month','DayOfWeek']
column_names_reordered = ['Absence_disease', 'Absence_pregnancy', 'Absence_dentist',
       'Absence_others', 'Date', 'Month','DayOfWeek','Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']
df = df[column_names_reordered]

In [20]:
df

,Absence_disease,Absence_pregnancy,Absence_dentist,Absence_others,Date,Month,DayOfWeek,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,2015-07-07,7,1,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,2015-07-14,7,1,118,13,50,239.554,31,1,1,0,0
2,False,False,False,True,2015-07-15,7,2,179,51,38,239.554,31,1,0,0,2
3,True,False,False,False,2015-07-16,7,3,279,5,39,239.554,24,1,2,0,4
4,False,False,False,True,2015-07-23,7,3,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,2018-05-23,5,2,179,22,40,237.656,22,2,2,0,8
696,True,False,False,False,2018-05-23,5,2,225,26,28,237.656,24,1,1,2,3
697,True,False,False,False,2018-05-24,5,3,330,16,28,237.656,25,2,0,0,8
698,False,False,False,True,2018-05-24,5,3,235,16,32,237.656,25,3,0,0,2
699,False,False,False,True,2018-05-31,5,3,291,31,40,237.656,25,1,1,1,2

In [21]:
checkpoint_df_reason_group_dates = df.copy()

In [26]:
# Transporation, distance to work, age, daily work load, body mass are OK to keep
# there is nothing we can do to group/clean those columns
# education is perhaps more interesting
# 1 = high school
# 2,3,4 -> graduate, master, doctor
col_edu = df['Education']
col_edu.unique()
(col_edu.value_counts() / col_edu.count()) * 100
# after inspecting the distribution - 83% of emploeyees have high-school degree
# while only 17% have above
# when groups have uneven distributions can produce bad analysis for small groups
# instead we can group [1,[2,3,4]]
"""
col_edu_to_columns = pd.get_dummies(col_edu)
col_edu_to_col_high_school = col_edu_to_columns.loc[:,1]
col_edu_to_col_degree_above = col_edu_to_columns.loc[:,2:].sum(axis=1)
column_names = np.concatenate([df.columns.values,['edu_high_school','edu_above_high_school']])
df = pd.concat([df, col_edu_to_col_high_school, col_edu_to_col_degree_above],axis=1)
df.columns = column_names
"""
# this is an alternative method for small mappings
# in this case we want to keep only 1 column
mapping_education = { 1:0,
                      2:1, 3:1, 4:1}
df['Education'] = col_edu.map(mapping_education)

In [30]:
checkpoint_df_clean = df.copy()

In [32]:
try:
    os.makedirs(dir_exports)
except:
    pass
df.to_pickle(os.path.join(dir_exports,'absenteeism_cleaned.pkl'))